/* This is a CSS comment */

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
}

/* Targets the body tag <body> */
body {
    background-color: #58608e;
    font-family: Jost, Arial, Helvetica, sans-serif;
    line-height: 1.5; /* 1.5 Line Spacing */
    color: #f0f1f5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "BBH Sans Bogle", sans-serif;
    margin-bottom: 0.5em; /* em - scales on font size */
    /* if the font size is 40px, 0.5em is 20px */
}

section {
    background-color: #cacfeb;
    color: #000000;
    margin: 5em;
    padding: 2em;

    border-width: 5px;
    border-style: solid;
    border-color: #4d5587;
    border-radius: 10px;
}

nav {
    padding: 1em;
    font-weight: bold;
}
nav a { /* targets ALL LINKS in the nav */
    color: white;
    text-decoration: none;
}